astor==0.8.1
astunparse==1.6.3
colorama==0.4.6
cvxpy==1.6.3
deap==1.4.2
graphviz==0.20.3
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.3
pandas==2.2.3   
scikit_learn==1.6.1
tqdm==4.67.1
truths==1.2
pydot==3.0.4